#skip-link {
  position:absolute;
  display:block;
}

#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  position:absolute;
  display:block;
  left:-10000px;
  width:1px;
  height:1px;
  }

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position:static;
  width:auto;
  height:auto;
}

.capitalize {
  text-transform: capitalize;
}

.border {
  border:1px solid lightgrey;
}
